.*.swp
*.pyo
*.pyc
eclipse/
build/
bin/
out/
*.iml
*.ipr
*.irs
*.iws
apis/
.gradle/
run/
.idea/

#Symlinked directories
/lang
/fzsrc
/textures
/resources
/screenshots
/minecraft_textures

QUICK_BUGS
parables/
